<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  	<xacro:macro name="rplidar_laser" params="name parent ros_topic update_rate min_angle max_angle">
	  	<joint name="base2rplidar" type="fixed">
			<parent link="${parent}"></parent>
			<child link="${name}_rplidar"></child>
			<!--  rotate z axis 180 degree according to the placement on andbot -->
			<origin xyz="-0.02426 0.0 0.17395" rpy="0 0 3.14159"></origin> 
		</joint>
	  	<link name="${name}_rplidar">
			<collision>
				<geometry>
					<mesh filename="package://andbot1dot2/modeldescription/mesh/andbot1dot2_rplidar.STL"></mesh></geometry></collision>
			<visual>
				<geometry>
					<mesh filename="package://andbot1dot2/modeldescription/mesh/andbot1dot2_rplidar.STL"></mesh></geometry>
				<material name="red"></material></visual>
			<inertial>
				<mass value="0.1646"></mass>
				<inertia ixx="0.0046" ixy="0.0" ixz="-0.0007" iyy="0.0048" iyz="0.0" izz="0.0003"></inertia></inertial>
		</link>
    </xacro:macro>
</robot>